.academic-proposal {
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    max-width: 350px; 
    width: 100%;
    height: 100px;
}

.academic-proposal img {
    width: 60px;
    height: 60px;    
}

.navbar-logo {
    /* font-size: 30px; */
    font-size: clamp(30px, 4vw, 30px);
}

.navbar-link {
    width: max-content;
}

.faq-q {
    color: var(--blue);
    background-color: rgb(255, 250, 250);
}

.access-card {
    background-color: rgb(250, 250, 245);
    width: 160px;
    height: 120px;
    position: relative;
    transition: transform .5s ease;
}

.access-card-img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.edit-cta-new-table-row {
    visibility: hidden;
}

.new-table-row:hover .edit-cta-new-table-row {
    visibility: visible !important;
}

.new-card {
	width: 100%;
	max-width: 250px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.new-card img {
	width: 100%;
	object-fit: cover;
	height: 150px;
}

.new-card p {
	font-size: .95rem;
}

.new-card__desc p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-card__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropzone {
    border: 1px dashed rgb(184, 184, 184);
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    color:rgb(75, 75, 75);
    object-fit: cover;
}